<section class="w-full h-full  flex py-2 px-4 space-x-5">
   <div class="w-1/5 min-w-1/5 h-full overflow-hidden bg-white rounded-2xl">
     <img src="image3.jpg" class="bg-cover w-full h-full">
   </div>
  <div class="w-full relative bg-linear-to-b space-y-2 from-[#1E3231]/80 rounded-2xl to-white h-full py-4 px-5 flex ">
   <div class="w-1/2 h-full py-3">
     <h1 class="text-lg text-white">About Us</h1>
     <h1 class="text-2xl text-white font-semibold">Why TrustPay Is the Smarter Way to Manage Your Money</h1>
     <h1 class="mt-5 font-semibold ml-5 text-white">A Smarter Way to Take Control of Your Finances</h1>
     <p class="mt-2 ml-5 text-white">
       TrustPay is designed to simplify the way you manage your money. Whether you’re tracking daily expenses, making secure payments, or managing multiple accounts, TrustPay gives you full control through a single, intuitive platform.
     </p>
     <h1 class="mt-5 font-semibold ml-5 text-white">Security You Can Trust</h1>
     <p class="mt-2 ml-5 text-white">
       Your security is our top priority. TrustPay uses advanced encryption technologies and secure authentication mechanisms to protect your personal and financial data at every step.     </p>
     <h1 class="mt-5 font-semibold ml-5 text-white">Smart & Real-Time Management</h1>
     <p class="mt-2 ml-5 text-white">
       Monitor your balance, track your transactions, and analyze your spending in real time. TrustPay provides clear insights and smart tools to help you make better financial decisions, anytime and anywhere.     </p>
   </div>
    <div class="w-1/2 h-full relative  flex justify-center items-center px-10 py-6 ">
       <img class="hover:scale-125   duration-150 ease-in-out delay-150" src="Trustpay2.png">
      <div class="w-20 h-20 absolute left-10 flex items-center justify-center bg-[#1E3231]">
        <lucide-icon name="WalletMinimal" size="40" color="white"></lucide-icon>
      </div>
      <div class="w-20 h-20 absolute right-10 bottom-20 flex items-center justify-center bg-[#1E3231]">
        <lucide-icon name="BanknoteArrowUp" size="40" color="white"></lucide-icon>
      </div>
    </div>
  </div>
</section>
