<section class="w-full relative px-10 py-10 h-190  flex space-5">
   <h1 class="w-70 min-w-70 text-6xl">
     What Our Clients Say
   </h1>
  <div class="w-full h-full group space-x-4 flex px-1 py-10">
     <div style="background-image: url('/avisclient/acis1.jpg')" class="w-150 group/item  duration-150 ease-in-out delay-100 hover:w-150 group-hover:w-80 bg-cover h-full flex rounded-2xl relative ">
        <div class="w-20 h-20 bg-[#1E3231] absolute bottom-23 flex justify-center items-center"><h1 class="text-white font-semibold text-2xl">01</h1></div>
        <div class="w-full mt-auto ml-25 group-hover:hidden   group-hover/item:flex  h-44 flex  flex-col space-y-4 ">
            <h1 class="text-white font-semibold text-xl">Ahmed El Mansouri</h1>
          <p class="text-sm text-white">Le système de gestion bancaire nous a permis de centraliser toutes nos opérations financières en un seul endroit. L’interface est claire, sécurisée et très intuitive. Nous gagnons énormément de temps dans la gestion quotidienne de nos comptes</p>
        </div>
     </div>
    <div style="background-image: url('/avisclient/avis2.jpg')" class="w-80 group/item hover:w-150 duration-150 ease-in-out delay-150 group-hover:w-80 bg-cover h-full flex rounded-2xl relative ">
      <div class="w-20 h-20 bg-[#1E3231] absolute bottom-23 flex justify-center items-center"><h1 class="text-white font-semibold text-2xl">02</h1></div>
      <div class="w-full mt-auto ml-25 group-hover:hidden   group-hover/item:flex  h-44 hidden  flex-col space-y-4 ">
        <h1 class="text-white font-semibold text-xl">Ahmed El Mansouri</h1>
        <p class="text-sm text-white">Le système de gestion bancaire nous a permis de centraliser toutes nos opérations financières en un seul endroit. L’interface est claire, sécurisée et très intuitive. Nous gagnons énormément de temps dans la gestion quotidienne de nos comptes</p>
      </div>
    </div>
    <div style="background-image: url('/avisclient/avis3.jpg')" class="w-80 group/item group duration-150 ease-in-out delay-150 hover:w-150 group-hover:w-80 bg-cover h-full flex rounded-2xl relative ">
      <div class="w-20 h-20 bg-[#1E3231] absolute bottom-23 flex justify-center items-center"><h1 class="text-white font-semibold text-2xl">03</h1></div>
      <div class="w-full mt-auto ml-25 group-hover:hidden   group-hover/item:flex  h-44 hidden  flex-col space-y-4 ">
        <h1 class="text-white font-semibold text-xl">Ahmed El Mansouri</h1>
        <p class="text-sm text-white">Le système de gestion bancaire nous a permis de centraliser toutes nos opérations financières en un seul endroit. L’interface est claire, sécurisée et très intuitive. Nous gagnons énormément de temps dans la gestion quotidienne de nos comptes</p>
      </div>
    </div>

  </div>
  <div class="w-100 flex  items-center justify-between  bg-white shadow-2xl bottom-10 h-25 absolute">
    <h1 class="ml-3 text-xls">Find your Passion</h1>
    <div class="w-25 flex items-center justify-center h-full bg-[#1E3231]"><h1 class="text-2xl font-semibold text-white">Go</h1></div>
  </div>
</section>
