<footer class="w-full  h-90 mt-5 bg-linear-to-b from-white to-[#397367] ">
  <div class="w-full justify-center   overflow-hidden flex h-full">
    <div class="w-1/3 flex space-y-3 items-center px-30 py-10 flex-col h-full">
      <img width="60" height="60" src="logo.png">
      <p class="text-xl font-semibold text-white">TrustPay</p>
      <h1 class="text-2xl w-100 text-center font-medium text-white">
        We Empower Your Financial Management with Secure Digital Banking      </h1>
       <div class="w-150 justify-center space-x-2.5  flex px-8 py-3 h-18 ">
            <input type="email" placeholder="Entre votre Email" class="border-1 px-3 text-white border-white rounded-3xl w-80">
         <button class="w-auto bg-[#1E3231] text-white px-5 rounded-2xl">Get Started</button>
       </div>
    </div>

  </div>
  <div class="w-full h-15 bg-[#397367] flex items-center justify-between px-6 text-white">
    <span>&copy; 2025 TrustPay. All rights reserved.</span>

    <div class="flex space-x-4">
      <a href="#" class="hover:underline">Privacy Policy</a>
      <a href="#" class="hover:underline">Terms of Service</a>
      <a href="#" class="hover:underline">Contact</a>
    </div>
  </div>

</footer>
