<nav class="w-full h-20  px-10 py-1 flex justify-between ">
  <div class="w-auto h-full items-center flex space-x-2 ">
    <img src="logo.png" width="40" height="40" alt="not found">
    <h1 class="text-xl font-semibold">TrustPay</h1>
  </div>
  <div class="w-auto h-full  flex items-center space-x-8 ">
    <ul class="flex  space-x-10">
      <li>
        <a routerLink="" class="font-normal">Home</a>
      </li>
      <li>
        <a routerLink="contact">About us</a>
      </li>
      <li>
        <a routerLink="contact">Contact us</a>
      </li>
    </ul>
   <button routerLink="login" class="w-auto h-auto py-2 bg-[#3C6E71] rounded-2xl text-white font-semibold   px-4">Get Started</button>
  </div>
</nav>
