<nav class="w-full h-15 flex py-3 px-5 justify-between items-center ">
  <div class="w-auto flex item-center space-x-2">
   <p class="text-lg text-gray-400">Main Menu /</p>
    <p class="text-lg font-semibold">Dashbord</p>
  </div>
  <div class="w-auto h-full py-2 px-3 flex space-x-4">
    <div class="w-9 h-9 rounded-xl flex items-center justify-center  bg-white">
      <lucide-icon color="black" size="20px"  name="MessageCircleMore"></lucide-icon>
    </div>
    <div class="w-9 h-9 rounded-xl flex items-center justify-center  bg-white">
      <lucide-icon color="black" size="20px"  name="Bell"></lucide-icon>
    </div>
    <input
      type="text"
      class="w-80 h-9 rounded-lg  border-black border-1 px-3"
      placeholder="Entre Votre recherche ici"
    >
    <div class="w-9 h-9 rounded-xl flex items-center justify-center  bg-white">
      <lucide-icon color="black" size="20px"  name="EllipsisVertical"></lucide-icon>
    </div>
  </div>
</nav>
